<!-- Sidebar -->
<div class="sidebar">
  <div class="menu-title">Menu</div>
  <a href="#" class="menu-item">
    <img src="assets/icons/human-icon.png" alt="Quiz" class="icon" />
    <span>Quiz Management</span>
  </a>
  <a href="#" class="menu-item">
    <img src="assets/icons/question-icon.png" alt="Question" class="icon" />
    <span>Question Management</span>
  </a>
  <a href="#" class="menu-item active">
    <img src="assets/icons/user-icon.png" alt="User" class="icon" />
    <span>User Management</span>
  </a>
  <a href="#" class="menu-item">
    <img src="assets/icons/security-icon.png" alt="Role" class="icon" />
    <span>Role Management</span>
  </a>
</div>
